web/WEB-INF/wsdl/localhost_8080/hotel/hotelApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap/" xmlns:ns2="http://www.uts.edu.au/31284/wsd-diary/listings" xmlns:ns1="http://www.uts.edu.au/31284/wsd-diary" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap/">

<xs:import namespace="http://www.uts.edu.au/31284/wsd-diary" schemaLocation="http://localhost:8080/hotel/hotelApp?xsd=2"/>

<xs:import namespace="http://www.uts.edu.au/31284/wsd-diary/listings" schemaLocation="http://localhost:8080/hotel/hotelApp?xsd=1"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="addListing" type="tns:addListing"/>

<xs:element name="addListingResponse" type="tns:addListingResponse"/>

<xs:element name="closeListing" type="tns:closeListing"/>

<xs:element name="closeListingResponse" type="tns:closeListingResponse"/>

<xs:element name="fetchListings" type="tns:fetchListings"/>

<xs:element name="fetchListingsResponse" type="tns:fetchListingsResponse"/>

<xs:element name="fetchUser" type="tns:fetchUser"/>

<xs:element name="fetchUserResponse" type="tns:fetchUserResponse"/>

<xs:element name="fetchUsers" type="tns:fetchUsers"/>

<xs:element name="fetchUsersResponse" type="tns:fetchUsersResponse"/>

<xs:element name="listing" type="tns:listing"/>

<xs:element name="location" type="tns:location"/>

<xs:element name="user" type="tns:user"/>

<xs:complexType name="addListing">
<xs:sequence>
<xs:element name="arg0" type="tns:listing" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listing">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="guests" type="xs:int"/>
<xs:element name="listerUsername" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="tns:location" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="number" type="xs:int"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="postcode" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addListingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeListing">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closeListingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchListings">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchListingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:listings" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listings">
<xs:sequence>
<xs:element name="listing" type="tns:listing" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>