src/conf/xml-resources/web-service-references/hotelApp/wsdl/localhost_8080/hotel/hotelApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="hotelApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/hotel/hotelApp?xsd=1"/>
</xsd:schema>
</types>
<message name="closeListing">
<part name="parameters" element="tns:closeListing"/>
</message>
<message name="closeListingResponse">
<part name="parameters" element="tns:closeListingResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="addListing">
<part name="parameters" element="tns:addListing"/>
</message>
<message name="addListingResponse">
<part name="parameters" element="tns:addListingResponse"/>
</message>
<message name="fetchUser">
<part name="parameters" element="tns:fetchUser"/>
</message>
<message name="fetchUserResponse">
<part name="parameters" element="tns:fetchUserResponse"/>
</message>
<message name="fetchListings">
<part name="parameters" element="tns:fetchListings"/>
</message>
<message name="fetchListingsResponse">
<part name="parameters" element="tns:fetchListingsResponse"/>
</message>
<portType name="HotelSOAP">
<operation name="closeListing">
<input wsam:Action="http://soap/HotelSOAP/closeListingRequest" message="tns:closeListing"/>
<output wsam:Action="http://soap/HotelSOAP/closeListingResponse" message="tns:closeListingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap/HotelSOAP/closeListing/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap/HotelSOAP/closeListing/Fault/IOException"/>
</operation>
<operation name="fetchUsers">
<input wsam:Action="http://soap/HotelSOAP/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap/HotelSOAP/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap/HotelSOAP/fetchUsers/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap/HotelSOAP/fetchUsers/Fault/IOException"/>
</operation>
<operation name="addListing">
<input wsam:Action="http://soap/HotelSOAP/addListingRequest" message="tns:addListing"/>
<output wsam:Action="http://soap/HotelSOAP/addListingResponse" message="tns:addListingResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap/HotelSOAP/addListing/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap/HotelSOAP/addListing/Fault/IOException"/>
</operation>
<operation name="fetchUser">
<input wsam:Action="http://soap/HotelSOAP/fetchUserRequest" message="tns:fetchUser"/>
<output wsam:Action="http://soap/HotelSOAP/fetchUserResponse" message="tns:fetchUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap/HotelSOAP/fetchUser/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap/HotelSOAP/fetchUser/Fault/IOException"/>
</operation>
<operation name="fetchListings">
<input wsam:Action="http://soap/HotelSOAP/fetchListingsRequest" message="tns:fetchListings"/>
<output wsam:Action="http://soap/HotelSOAP/fetchListingsResponse" message="tns:fetchListingsResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap/HotelSOAP/fetchListings/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap/HotelSOAP/fetchListings/Fault/IOException"/>
</operation>
</portType>
<binding name="HotelSOAPPortBinding" type="tns:HotelSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="closeListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="addListing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fetchUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="fetchListings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="hotelApp">
<port name="HotelSOAPPort" binding="tns:HotelSOAPPortBinding">
<soap:address location="http://localhost:8080/hotel/hotelApp"/>
</port>
</service>
</definitions>